.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

android/.gradle/
android/local.properties
android/key.properties
android/upload-keystore.jks

.env
*.jks
*.keystore
*.apk
*.aab

google-services.json
GoogleService-Info.plist
